# If you prefer the allow list template instead of the deny list, see community template:
# https://github.com/github/gitignore/blob/main/community/Golang/Go.AllowList.gitignore
#
# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/

# Go workspace file
go.work
*.pyc
# exclude all the .tar.gz files in the lxc directory but include the ones in the subdirectories
lxc/*.tar.gz
apps/jetbrains-toolbox-2.2.1.19765.tar.gz
dist/resolvedor de api-0.0.1.tar.gz
*.pyc
__pycache__/
lxc_split/
.pytest_cache/
Practicas/